 @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    /* background-image: url('img1.jpeg'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position:  center;  */
    /* min-height: 100vh;  */
    background-color: #eff0e8;
}
html, body {
    overflow: hidden;
}
.navbar{
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: linear-gradient(to bottom, #fabd97, #ddc7bf);
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fa{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav_item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #fabd97;
}
.nav_item:hover{
    color: white;
}
.fa:hover{
    color: #40bfea;
}
.navbar:hover{
    width: 280px;
    transition: all 0.5s ease;
}
.index_first{
    display: flex;
}
.contentt{
    display: flex;
    margin-left: 90px;
    z-index: 1;
}
.first_item_con{
    color: #b7bdbd;
    margin-top: 350px;
    margin-left: 5px;
    font-size: 39px;
}
.contentt_item{
    background-color: #eff0e8;
    font-weight: bold;
}

.content{
    margin-left: 100px;
    z-index: 1;
}
.head{
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    color: #173b6c;
}
.head ::after{
    content: "";
    position: absolute;
    bottom: -3px; 
    left: 0;
    width: 3%;
    border-bottom: 3px solid rgb(0, 255, 251); 
}
.para{
    margin-left: 3%;
    margin-right: 50px;
    font-size: 21px;
}
.image_text{
    display: flex;
}
.image{
    display: flex;
    margin-top: 45px;
    margin-left: 55px;
    /* width: 10rem;
    height: auto;*/
} 
.blockk{
    display: block;
}
.head2{
    font: 30px;
    font-weight: bold;
    margin-left: 1rem;
    color: #173b6c;
    margin-bottom: 10px;
}
.oneline{
    font-size: 21px;
    margin-left: 1rem;
    margin-bottom: 16px;
    margin-right: 50px;
}
.flexg8er{
    display: flex;
}
.label{
    font-weight: bold;
    margin-right: 5px;
}
.elements{
    font-size: 19px;
    margin-top: 11px;
    margin-bottom: 3px;

}
.col1{
    display: block;
    margin-left: 100px;
}
.col2{
    display: block;
    margin-left: 19rem;
}
.last_para{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 50px;
}
.facts{
    margin-top: 100px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
}
.facts ::after{
    content: "";
    position: absolute;
    bottom: -3px; 
    left: 0;
    width: 3%;
    border-bottom: 3px solid rgb(0, 255, 251); 
}
.facts_line{
    margin-left: 3%;
    margin-right: 50px;
    font-size: 24px;
}
.resume_head_para{
    margin-left: 3%;
    margin-right: 50px;
    font-size: 21px;
    margin-bottom: 30px;
}
.resume_flex{
    display: flex;
    /* justify-content: space-between;  */
}
.resume_block1{
    padding: 12px;
    display: block;
    
}
.resume_block2{
    padding: 12px;
    display: block;
    
}
.resume_head11{
    margin-left: 80px;
    font-size: 26px;
    margin-top: 20px;
    font-weight: bold;
}
.resume_head21{
    margin-left: 80px;
    font-size: 26px;
    margin-top: 20px;
    font-weight: bold;
}
.resume_item1{
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 5px;
}
.resume_item1_detail{
    font-family: sans-serif;
    color: #272829;
    margin-top:10px ;
    font-size: 16px;
}
.block1ul{
    margin-top: 10px;
    margin-left: 22px;
}
.block1points{
    font-family: sans-serif;
    margin-bottom: 10px;
    font-size: 16px;
    color: #272829;
}
.resume_head111{
    margin-left: 80px;
    font-size: 26px;
    margin-top: 40px;
    font-weight: bold;
}
.resume_item2{
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 5px;
}
.year_box{
    margin-top: 8px;
    margin-bottom: 15px;
    background-color: #E4EDE9;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}
.placeaddress{
    margin-bottom: 8px;
}
.placeaddress_below{
    margin-bottom: 25px;
}
.resume_items3{
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 5px;
}
.intern_para{
    font-family: sans-serif;
    color: #272829;
    margin-top:10px ;
    font-size: 16px;
}
.occupation{
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 5px;
}
.occupation_para{
    font-family: sans-serif;
    color: #272829;
    margin-top:10px ;
    font-size: 16px;
}
.portfoloio_para{
    margin-left: 3%;
    margin-right: 50px;
    font-size: 21px;
    margin-bottom: 30px;
}
.centre_preoject{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.project{
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    font-size: 21px;
    color: #272829;
}
.photos{
    display: flex;
}
.photos1{
    display: block;
}
.photos2{
    display: block;
}
.semester{
    padding-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

label{
    display: inline;
    margin: 15px;
}

select{
    font-size: 16px;
}
.calculator{
    display: block;
    margin-left: 350px;
}
.pingpong{
    margin-left: 350px;
    margin-top: 15px;
}
.webscraper{
    margin-left: 450px;
    display: block;
}
.rock_ppr_scr{
    margin-left: 450px;
    margin-top: 35px;
}
.photo1_desc{
    margin-left: 350px;
    margin-top: 5px;
}
.photo2_desc{
    margin-left: 350px;
    margin-top: 5px;
}
.photo3_desc{
    margin-left: 450px;
    margin-top: 5px;
}
.photo4_desc{
    margin-left: 450px;
    margin-top: 5px;
}
.form_info{
    margin-top: 40px;
    margin-left: 400px;
}
.form_info input[type="text"],
.form_info textarea,
.form_info input[type="number"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}
.button_submit {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 350px;
}
.button_submit:hover {
    background-color: darkblue;
}
.form_info_first{
    margin-bottom: 5px;
}
.elemets {
    font-size: 20px;
    padding: 5px; 
  }
table, th, td {
    border-collapse: separate;
    border:1px solid black;
}
.marks{
    margin-top: 100px;
    margin-left: 400px
 }
 .GPA{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-left: 320px;
    margin-top: 20px;
 }